*{
  font-family: Helvetica, sans-serif;
  background-color: lightskyblue;
}

h1, h2{
  text-align: center;
}

img{
  display: block;
  margin: auto;
}

p {
  width: 50%;
  margin: auto;
  padding: 1rem;
}

.xx-large{
  font-size: 4em;
}

.blue-background{
  background-color: blue;
}